@page
@{
    ViewData["Title"] = "Contact";
}

<!DOCTYPE html>
<html>
<head>
    <title>Kontakt Information</title>
</head>
<body>

    <h1>Navn:</h1>
    <p>Karen</p>

    <h1>E-mail:</h1>
    <p>karen@ibas.com</p>

    <h1>Telefon nummer:</h1>
    <p>98765432</p>

</body>
</html>